body{
    margin:0px;
}
.head{
    background-color:lightblue;
    display:flex;
    justify-content:center;
    /*flex-start = left align, flex-end = right align*/
}
.main{
    background-color:white;
}
.left{
    width:600px;
    font-size:36px;
    font-weight:bold;
    color:white;
    padding: 10px 0px;
    /*if eneter 2 number it means that top and bottom are both 10px apart and there will be 0px apart for left and right*/
}
.right {
    width: 400px;
    padding: 10px 0px;
    display: flex;
    align-items:center;
}
.buttom{
    border: 1px solid black;
}
.col{
    margin:0px 5px;
}
.input{
    width:120px;
}
.forgetPassword{
    border:0px;
    text-decoration: underline;
    background-color:lightblue;
}